{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="center-text">
    <h2>Hey {{ username }}</h2>
</div>

<div class="bottom-nav">
    <a href="{{ url_for('profile',username=username) }}">
        <img src="{{ url_for('static', filename='icons/profile.png') }}" alt="Profile">
    </a>
    <a href="{{ url_for('search') }}">
        <img src="{{ url_for('static', filename='icons/search.png') }}" alt="Search by Name">
    </a>
    <a href="{{ url_for('explore') }}">
        <img src="{{ url_for('static', filename='icons/explore.png') }}" alt="Explore">
    </a>
</div>
{% endblock %}
